@model IEnumerable<User>
@inject UserManager<User> _userManager

@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}

<p>
    <a asp-action="AddNew" class="btn btn-dark my-3">+ Add New User</a>
</p>


<table class="table table-bordered table-hover text-center align-middle table-striped shadow-sm">
    <thead style=" background-color: #163152 ;color: white;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>
                    @foreach (var role in _userManager.GetRolesAsync(item).Result)
                    {
                        @if (role.ToLower() == "owner")
                        {
                            <span class="badge bg-primary text-capitalize">@role</span>
                        }
                        else if (role.ToLower() == "admin")
                        {
                            <span class="badge bg-danger text-capitalize">@role</span>
                        }
                        else if (role.ToLower() == "user")
                        {
                            <span class="badge bg-success text-capitalize">@role</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary text-capitalize">@role</span>
                        }

                    }
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Details</a>
                        <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', '@Url.Action("Delete", new { id = item.Id })')" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>
        // Function to handle delete confirmation with SweetAlert
        function confirmDelete(userId, deleteUrl) {
            Swal.fire({
                title: "Delete User",
                text: "Are you sure about deleting this user ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete it",
                cancelButtonText: "Cancel",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, redirect to the delete action
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>


}
